<div class="modal fade" id="reorder_modal_label" tabindex="-1" role="dialog" aria-labelledby="reorder_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="" method="post" accept-charset="utf-8" class="form-horizontal re-order-form" id="re-order-questions-form">
                <div class="modal-body">
                    {% csrf_token %}
                    <div id="content">
                    </div>
                </div>
                <div class="modal-footer">
                      <a type="cancel" class="btn btn-default" data-dismiss="modal">
                          <span class="red bold"><i class="glyphicon glyphicon-remove"></i> CANCEL</span>
                      </a>
                      <button type="submit" class="btn btn-default">
                          <span class="green bold"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</span>
                      </button>
                </div>
            </form>
        </div>
    </div>
</div>
