<div class="modal fade" id="edit_questionnaire_name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form action="{% url "edit_qestionnaire_name" questionnaire.id %}" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cyan" id="myModalLabel">Edit Name Of Questionnaire</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="questionnaire_name">New Questionnaire Name</label>
                        <input class="form-control" id="questionnaire_name" maxlength="100" name="name" type="text"
                               value="{{ questionnaire.name }}">
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
