{% extends 'base/layout.html' %}

{% block title %}
    Extract responses data
{% endblock %}

{% block content %}
    <h3>EXTRACT RESPONSES DATA</h3>
    <div class="row">
        <div class="col-xs-6 col-sm-3 text-center">{{ filter_form.year.label }}</div>
        <div class="col-xs-6 col-sm-3 text-center">{{ filter_form.regions.label }}</div>
        <div class="col-xs-6 col-sm-3 text-center">{{ filter_form.countries.label }}</div>
        <div class="col-xs-6 col-sm-3 text-center">{{ filter_form.themes.label }}</div>
    </div>
    <hr/>
    <form method="post" id="export-filter-form" action="{% url 'export_page' %}">
        <div class="row">
            {% csrf_token %}
                <div class="col-xs-6 col-sm-3">
                    {{ filter_form.year }}
                </div>
                <div class="col-xs-6 col-sm-3">
                    {{ filter_form.regions }}
                </div>
                <div class="col-xs-6 col-sm-3">
                    <ul id="extract-countries">

                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    {{ filter_form.themes }}
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 text-center">
                <button type="submit" class="btn btn-lg btn-default pull-right cyan glyphicon glyphicon-download"
                    id="export-data"> Download (.txt)
                </button>
            </div>
        </div>
    </form>
{% endblock %}