{% extends 'base/layout.html' %}
{% block content %}
    <h3>GLOBAL STATUS</h3>
    <hr/>
    <div class="panel-group" id="accordion">
        {% for region, countries in region_country_status_map.items %}
            <div class="panel panel-default">

            {% include 'home/status/_region_headers.html' %}

                <div id="collapse{{ region.id }}" class="panel-collapse collapse">
                    <div class="panel-body">

                        {% include 'home/status/_completion_for_countries.html' %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'questionnaires/entry/preview_modal.html' %}
{% endblock %}