{% extends 'base/layout.html' %}
{% block content %}
    {% load generic_tags %}
    <div class="row">
        <div class="col-md-12">
            <h2>Core Template</h2>
            <hr/>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>
                        <h3 class="panel-title">In Progress
                            <a href="" class="btn btn-default btn-xs pull-right" data-toggle="modal"
                               data-target="#select_survey_wizard" id="id-create-new">
                                <span class="glyphicon glyphicon-plus-sign"></span> Create new
                            </a>
                            {% include 'base/modals/_filter.html' with a_form=filter_form modal_id='select_survey_wizard' action=action modal_title='Choose a Finalized Questionnaire to duplicate' %}
                        </h3>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for questionnaire in draft_questionnaires %}
                            <li class="list-group-item">
                                {% with questionnaire.sections.all|first as first_section %}
                                    <a id="questionnaire-{{ questionnaire.id }}"
                                       href="{% url 'questionnaire_entry_page' questionnaire.id first_section.id %}">{{ questionnaire.name }} {{ questionnaire.year }}</a>
                                    <span class="pull-right">
                                    <a href="" class="btn btn-xs btn-default" data-toggle="modal"
                                       data-target="#edit_questionnaire_name" id="id-edit"><span
                                            class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    <a class="btn btn-xs btn-default" id="id-finalize-{{ questionnaire.id }}"
                                       post="true" phref="/questionnaire/{{ questionnaire.id }}/finalize/"
                                       pdata='{"questionnaire_id": {{ questionnaire.id }}, "csrfmiddlewaretoken": "{{ csrf_token }}"}'><span><img
                                            class="glyph-icon" src="/static/img/glyphicons_lock.png"></span></a>


                                     <div class="modal fade" id="edit_questionnaire_name" tabindex="-1" role="dialog"
                                          aria-labelledby="myModalLabel"
                                          aria-hidden="true">
                                         <form action="{% url "edit_qestionnaire_name" questionnaire.id %}"
                                               method="POST">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <button type="button" class="close" data-dismiss="modal"
                                                                 aria-hidden="true">&times;</button>
                                                         <h4 class="modal-title cyan" id="myModalLabel">Edit Name Of
                                                             Questionnaire</h4>
                                                     </div>
                                                     <div class="modal-body">
                                                         <div class="form-group">
                                                             <label for="questionnaire_name">New Questionnaire
                                                                 Name</label>
                                                             <input class="form-control" id="questionnaire_name"
                                                                    maxlength="100" name="name"
                                                                    type="text"
                                                                    value="{{ questionnaire.name }}">
                                                         </div>
                                                         <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="{{ csrf_token }}">

                                                     </div>
                                                     <div class="modal-footer">
                                                         <button type="button" class="btn btn-default"
                                                                 data-dismiss="modal">
                                                             Close
                                                         </button>
                                                         <button type="submit" class="btn btn-primary">SAVE</button>
                                                     </div>
                                                 </div>
                                             </div>
                                         </form>
                                     </div>


                                </span>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Finalized</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        {% for questionnaire in finalized_questionnaires %}
                            <li class="list-group-item{% if  forloop.counter > 3 %} hide{% endif %}">
                                {% with questionnaire.sections.all|first as first_section %}
                                    <a id="questionnaire-{{ questionnaire.id }}"
                                       href="{% url 'questionnaire_entry_page' questionnaire.id first_section.id %}?preview=1">{{ questionnaire.name }} {{ questionnaire.year }}</a>
                                {% endwith %}
                                <span class="pull-right">
                                    <a href="{% url 'publish_questionnaire_page' questionnaire.id %}"
                                       class="btn btn-default btn-xs"
                                       id="id-publish-questionnaire-{{ questionnaire.id }}">
                                        <span class="glyphicon glyphicon-send"></span> Send to Regions
                                    </a>
                                    {% if questionnaire.is_finalized %}
                                        <a class="btn btn-xs btn-default" id="id-unfinalize-{{ questionnaire.id }}"
                                           post="true" phref="/questionnaire/{{ questionnaire.id }}/unfinalize/"
                                           pdata='{"questionnaire_id": {{ questionnaire.id }}, "csrfmiddlewaretoken": "{{ csrf_token }}"}'><span><img
                                                class="glyph-icon" src="/static/img/glyphicons_unlock.png"></span></a>
                                    {% endif %}
                                    {% if questionnaire.is_published %}
                                        <span class="label label-success">Published</span>
                                    {% endif %}

                                </span>
                            </li>
                        {% endfor %}
                        <li class="list-group-item more-toggle">
                            <a href="" id="id-older-jrf">More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h2>Regional template adaptations:</h2>
        </div>
        {% for region in regions %}
            <div class="col-md-12 indent">
                <h6>{{ region.name }} :</h6>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">In Progress</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% get_questionnaire_from region regions_questionnaire_map=regions_questionnaire_map status='drafts' as drafts %}
                            {% for questionnaire in drafts %}
                                {% with questionnaire.sections.all|first as first_section %}
                                    <li class="list-group-item">{{ questionnaire.name }} {{ questionnaire.year }}</li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Finalized</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% get_questionnaire_from region regions_questionnaire_map=regions_questionnaire_map status='finalized' as finalized_questionnaires %}
                            {% for questionnaire in finalized_questionnaires %}
                                {% with questionnaire.sections.all|first as first_section %}
                                    <li class="list-group-item">

                                        <a id="questionnaire-{{ questionnaire.id }}" href="{% url 'questionnaire_entry_page' questionnaire.id first_section.id %}">{{ questionnaire.name }} {{ questionnaire.year }}</a>
                                        <span class="pull-right">
                                            {% if questionnaire.is_finalized %}
                                                <a href="" class="btn btn-default btn-xs"  id="id-approve-questionnaire-{{ questionnaire.id }}"
                                                        data-toggle="modal" data-target="#approve-questionnaire-modal-{{ questionnaire.id }}">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span> Approve
                                                </a>
                                                {% include 'base/modals/_confirm.html' with object_type='Questionnaire' title='Confirm Questionnaire Approval' action="approve" url=questionnaire.id|get_url_with_ids:"approve_questionnaire_page" object=questionnaire confirm='Yes' %}
                                            {% endif %}
                                            {% if questionnaire.is_published %}
                                                <span class="label label-success">Published</span>
                                            {% endif %}
                                        </span>

                                    </li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}