{% load questionnaire_entry_tags %}
{% with order.question.options.all|first as option %}
   <tr class="grid_row">
        <td>
            <div class="question-number">
                {% spaceless %}
                    <span>{{ section.order }}</span>
                    {% if section.has_at_least_two_subsections %}
                        <span>.{{ subsection.order }}</span>{% endif %}
                    <span>.</span>
                    {% if subsection.has_at_least_two_groups %}
                        <span>{{ group.order }}.</span>{% endif %}
                    {% if group.has_at_least_two_questions %}
                        <span class="number">{{ forloop.counter }}</span>{% endif %}
                {% endspaceless %}
            </div>
        </td>
        {% for field in order.question|get_form:formsets %}
            <td>{{ field.as_hidden }}
                {{ field }}
            </td>
        {% endfor %}
        {% for question in a_group.all_non_primary_questions %}
            {% for field in question|get_form:formsets %}
                <td>
                    {% if field.errors %}
                        <div class="field-error grid-error" data-toggle="popover" data-html="true"
                             data-placement="right" data-trigger="hover"
                             data-content="{{ field.errors|striptags }}">

                    {% endif %}
                     {{ field.as_hidden }}
                    {{ field }}
                    {% if field.errors %}
                        </div>
                    {% endif %}
                </td>
            {% endfor %}
        {% endfor %}
{#    </tr>#}
    <tr>
        <td colspan="6">
            <button type="button" href="#" class="btn btn-default add-row"><span class="cyan bold"><i
                class="glyphicon glyphicon-plus"></i> Add More</span></button>
        </td>
    </tr>

{% endwith %}
