<div class="nav-wizard wizard">
    <ul class="nav nav-pills nav-stacked" id="section_tabs">
        {% for section_ in ordered_sections %}
            <li {% if forloop.first %}class="active"{% endif %}><a href="#section_{{ section_.id }}"
                                                                   data-toggle="tab">{{ section_.name }}</a></li>
        {% endfor %}

        <li ><a href="#attachments" data-toggle="tab" class="attachement">ATTACHMENTS
    {% if documents %}<span class="badge"><span class="cyan bold">{{ documents.count }}</span></span>{% endif %}</a></li>


    </ul>
</div>
