<input type=hidden id="redirect_url" name="redirect_url"/>
{% if not perms.auth.can_edit_questionnaire %}
    <div class="form-group top-padding ">
        <div class="col-sm-offset-8 col-sm-3 pull-right">
            <a href="{% url 'home_page' %}" class="btn btn-default" name="cancel_button"
               id="cancel_button"> <span
                    class="red bold"><i class="glyphicon glyphicon-remove"></i> CANCEL</span></a>
            <button type="submit" class="btn btn-default" id="save_draft_button" name="save_draft"><span
                    class="cyan bold"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</span>
            </button>
        </div>

    </div>
{% endif %}
