<div class="section-buttons">
    <button class="btn btn-default button-section pull-right" id="preview_modal_btn" data-toggle="modal"
            data-target="#preview_modal"><i class="glyphicon glyphicon-eye-open"></i> Preview
    </button>
    <a class="btn btn-default pull-right button-section has-spinner" id="export-section"><span class="spinner"><img
            class="spinner-image" src="/static/img/spinner.gif"></span><span class="cyan"><span
            class="glyphicon glyphicon-file red"></span> Export Section as PDF </span> </a>
</div>
{% include 'questionnaires/entry/preview_modal.html' %}