<div class="section-buttons">
    {% if perms.auth.can_submit_responses and not user.is_superuser %}
        <a  data-href="{% url 'preview_questionnaire' %}?preview=1" class="btn btn-default button-section pull-right preview-btn-url" id="preview_modal_btn">
            <i class="glyphicon glyphicon-eye-open"></i> Preview
        </a>
    {% endif %}

    {% if perms.auth.can_view_users or perms.auth.can_edit_questionnaire %}
        <a  data-href="{% url 'preview_specific_questionnaire' questionnaire.id %}?preview=1" class="btn btn-default button-section pull-right preview-btn-url" id="preview_modal_btn">
            <i class="glyphicon glyphicon-eye-open"></i> Preview
        </a>
    {% endif %}
    <a class="btn btn-default pull-right button-section has-spinner" id="export-section"><span class="spinner"><img
            class="spinner-image" src="/static/img/spinner.gif"></span><span class="cyan">
        <span class="glyphicon glyphicon-file red"></span> Export Section as PDF </span>
    </a>
</div>
{% include 'questionnaires/entry/preview_modal.html' %}