<h4 class="button-padding">
    {% if section.has_at_least_two_subsections and subsection.title %}
        {{ section.order }}.{{ subsection.order }}.
    {% endif %}

    {{ subsection.title }}
    {% if perms.auth.can_edit_questionnaire and user.user_profile.region == questionnaire.region %}
        <div class="btn-group pull-right">
            <a href="" id="id-assign-{{ subsection.id }}" class="btn btn-sm btn-default"
               data-toggle="modal" data-target="#assign-question-modal-{{ subsection.id }}">
                <span class="cyan"><span class="glyphicon glyphicon-plus-sign"></span> Assign Question</span>
            </a>

            {% if perms.auth.can_edit_questionnaire and user.user_profile.region == subsection.region %}
                <a href="" id="edit-subsection-{{ subsection.id }}" class="btn btn-sm btn-default" data-toggle="modal"
                   data-target="#edit_subsection_{{ subsection.id }}"><span class="cyan"><span
                        class="glyphicon glyphicon-pencil"></span> Edit</span></a>
                <a id="delete-subsection-{{ subsection.id }}" href="" class="btn btn-sm btn-default" data-toggle="modal"
                   data-target="#delete-subsection-modal-{{ subsection.id }}"><span class="cyan"><span
                        class="glyphicon glyphicon-trash"></span></span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</h4>
{% if subsection.description %}
    <div class="">
        {{ subsection.description| safe }}
    </div>
{% endif %}