{% load questionnaire_entry_tags %}
{% load generic_tags %}
<div class="question-group indent" data-group-id={{ group.id }}>
    {% for extra_row in  group|get_value:formsets.extra_rows %}
        {% with forloop.counter0 as row_number %}
            <div class="hybrid-group-row">
                <a href="#" class="remove-hybrid-row close red"><i class="glyphicon glyphicon-remove-circle red"></i></a>
                <hr class='{% if not row_number %}hide{% endif %} multiple-hr separator'/>
                {% for order in group.question_orders %}
                    {% if order.question.is_first_in_group %}
                        <h5>
                            {% spaceless %}
                                {% if order.question.group.name %}
                                    <span class="group-name-instructions"> {{ order.question.group.name }}
                                        {% if order.question.group.instructions %}
                                            <a class="indent" data-toggle="popover" data-html="true"
                                               data-placement="bottom" data-trigger="hover"
                                               data-content="{{ order.question.group.instructions }}"><i
                                               class="glyphicon glyphicon-info-sign cyan"></i> instructions</a>
                                        {% endif %}
                                    </span>
                                {% endif %}
                            {% endspaceless %}
                        </h5>
                    {% endif %}

                    {% if order.question.is_in_subgroup and order.question.group.grid %}
                        {% if order.question.is_first_in_group %}
                            <ul class="horizontal-ul">
                        {% endif %}
                                <li>
                                    <label> {{ order.question.text }} </label>
                                    {% for field in order.question|get_form:formsets %}
                                        {% if field.errors %}
                                            <div class="field-error">
                                        {% endif %}
                                        <input type="hidden" id="id_{{field.html_name }}" name="{{ field.html_name}}" value="{{ row_number }},{{ group.id }}" />
                                        {{ field }}
                                        {% if field.errors %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                        {% if order.question.is_last_in_group  and order.question.group.grid %}
                            </ul>
                        {% endif %}
                    {% else %}
                        <div class="form-group">
                            <label class="col-sm-6 control-label">
                                {% spaceless %}
                                <div class="question-number">
                                    {% if order.question.region %}<span>{{ order.question.region.name }} - </span>{% endif %}
                                    <span>{{ section.order }}</span>
                                    {% if section.has_at_least_two_subsections %}
                                        <span>.{{ subsection.order }}</span>{% endif %}
                                    <span>.</span>
                                    {% if subsection.has_at_least_two_groups %}
                                        <span>{{ group.order }}.</span>{% endif %}
                                    {% if group.has_at_least_two_questions %}
                                        <span>{{ forloop.counter }}.</span>{% endif %}
                                </div>
                                <div class="question-text">
                                    <span>{{ order.question.text }}</span>
                                </div>
                                {% endspaceless %}
                            </label>

                            <div class="col-sm-5 center-fields">
                                {% for field in order.question|get_form:formsets %}
                                    {% if field.errors %}
                                        <div class="field-error">
                                    {% endif %}
                                <input type="hidden" id="id_{{field.html_name }}" name="{{ field.html_name}}" value="{{ row_number }},{{ group.id }}" />
                                {{ field }}
                                <span {% if order.question.is_primary %}class="primary-question"  data-primary-question="{{ field.form.instance.id }}"{% endif %} ></span>
                                {% if field.errors %}
                                    </div>
                                {% endif %}
                                    {% include 'questionnaires/entry/_question_instructions.html' %}
                                    {% if field.errors %}
                                        <a class="indent red" data-toggle="popover" data-placement="bottom"
                                           data-trigger="hover" data-content="{{ field.errors|striptags }}"
                                           id="question-{{ order.question.id }}-instructions"><i
                                                class="glyphicon glyphicon-warning-sign red"></i></a>
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <div class="unassign-question-div">
                                {% if perms.auth.can_edit_questionnaire and  user.user_profile.region == questionnaire.region and user.user_profile.region == order.question.region %}
                                    <a href="" class="unassign-question pull-right red" data-toggle="modal"
                                       data-target="#unassign-question-modal-{{ order.question.id }}"
                                       id="unassign-question-{{ order.question.id }}">
                                        <i class="glyphicon glyphicon-remove-circle red"></i>
                                    </a>
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                    {% if order.question.group.parent and order.question.is_last_in_group %}
                        <hr/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endwith %}
    {% endfor %}
    <div class="hybrid-group-row">
        <button type="button" href="#" class="btn btn-default add-more"><span class="cyan bold"><i
            class="glyphicon glyphicon-plus"></i> Add More</span></button>
    </div>
</div>

