{% extends 'base/layout.html' %}
{% block javascripts %}
    {% include 'questionnaires/entry/_extra_js.html' %}
{% endblock %}
{% block extra_css %}
    {% include 'questionnaires/entry/_extra_css.html' %}
{% endblock %}
{% block content %}
    {% load questionnaire_entry_tags %}
    {% load generic_tags %}

    {% include 'questionnaires/entry/_section_buttons.html' %}

    <div class="form-table">
        {% include 'questionnaires/entry/section_breadcrumps_wizzard.html' %}

        <div class="form-content">
            {% include 'questionnaires/entry/_section_title.html' %}

            <form class="form-horizontal" id="questionnaire_entry" role="form" method="post">
                {% if preview %}
                    <input type='hidden' name='preview' id="preview" value={{ preview }}/>
                {% endif %}
                {% csrf_token %}
                {% for form_type, form_set in formsets.formsets.items %}
                    {{ form_set.management_form }}
                {% endfor %}

                {% for subsection in section.sub_sections.all %}
                    {% include 'questionnaires/entry/_subsection_title.html' %}

                    {% for group in subsection.parent_question_groups %}
                        {% if group and group.grid and group.display_all %}
                            {% include 'questionnaires/entry/grid.html' with a_group=group section=section sub_section=subsection %}
                        {% else %}
                            <div class="question-group indent">
                                {% for order in group.question_orders %}
                                    {% include 'questionnaires/entry/_questions_n_answers_fields.html' %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if group.allow_multiples %}
                            <button type="button" href="#" class="btn btn-default add-more"><span class="cyan bold"><i
                                    class="glyphicon glyphicon-plus"></i> Add More</span></button>
                        {% endif %}

                        <hr class="group-hr"/>

                    {% endfor %}
                {% endfor %}

                {% include 'questionnaires/entry/_save_button.html' %}
            </form>
        </div>
    </div>

    {% include 'questionnaires/entry/_outside_loop_modals.html' %}

{% endblock %}
