<div class="nav-wizard wizard">
    <ul class="nav nav-pills nav-stacked">
        {% for section_ in ordered_sections %}
            <li class="section-list">
                <a class="{% if section_.id == section.id %}current {% endif %} section_tab col-md-10"
                   href="{% url 'questionnaire_entry_page' questionnaire.id section_.id %}{% if preview %}?preview=1{% endif %}"
                   id="section-{{ section_.id }}"> {{ section_.name }}</a>
                {% if perms.auth.can_edit_questionnaire %}
                    <a href="#" class="{% if section_.id == section.id %}current {% endif %} col-md-1 edit-section"
                            data-toggle="modal" data-target="#edit_section_{{section_.id}}"> <span class="glyphicon glyphicon-pencil"></span> </a>
                {% endif %}
            </li>
        {% endfor %}
        {% if perms.auth.can_edit_questionnaire %}
            <li><a href="" id="new-section" class="col-md-10"  data-toggle="modal"
                   data-target="#new-section-modal"><span class="cyan"><span
                    class="glyphicon glyphicon-plus-sign"></span> New Section</span></a></li>
        {% endif %}
    </ul>
</div>
{% load generic_tags %}
{% for section_ in ordered_sections %}
    {% include 'base/modals/ajax_modal.html' with action_url=section_.id|get_url_with_ids:"edit_section_page" object=section_  action="edit_section" modal_title="Edit Section"  btn_label="SAVE" class="edit_section"%}
{% endfor %}
