{% extends 'base/layout.html' %}
{% block content %}
{% load generic_tags %}
<div class="table-responsive">
    <span class="pull-left"><h3>Theme List</h3>
        <br/>
    </span>

    <a data-target="#new-themes-modal" class="btn btn-default btn-lg  pull-right" data-toggle="modal" id="new-theme">
        <span class="cyan"><i class="glyphicon glyphicon-plus-sign"></i> New Theme</span></a>
    <br/>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for theme in theme_list %}
        <tr>
            <td>{{ theme.name }}</td>
            <td>{{ theme.description }}</td>
            <td>
                <div class="btn-group">
                    {% if theme.region == user.user_profile.region %}
                        <a data-target="#edit-theme-{{ theme.id }}-modal"  data-toggle="modal" id="edit-theme-{{ theme.id }}-btn" class="btn btn-sm btn-default cyan">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        <a data-target="#delete-theme-modal-{{ theme.id }}" data-toggle="modal" id="delete-theme-{{ theme.id }}-btn" class="btn btn-sm btn-default red" id="delete-theme-{{ theme.id }}">
                            <span class="glyphicon glyphicon-trash"></span> Delete
                        </a>
                    {% endif %}
                </div>
                {% include 'base/modals/_filter.html' with action='edit' object_type='Theme' object_id=theme.id a_form=theme|get_theme_form_with_instance url=theme.id|get_url_with_ids:"edit_theme_page" modal_title="Edit Theme" btn_label="SAVE" %}
                {% include 'base/modals/_delete.html' with object_type='Theme' title='Confirm Delete' action="delete" object=theme  url=theme.id|get_url_with_ids:"delete_theme_page"  confirm='Yes'%}
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{%include 'base/modals/_create.html' with modal_id='new-themes-modal' a_form=theme_form action=theme_form_action %}
{% endblock %}